<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Write description below</h1>
    <form action="/analysed" method='get'>
        <textarea name="text" style='width: 1513px; height: 194px;'></textarea> <br>
        <input type="checkbox" name="punccheck" > Remove Punctuation <br>
        <input type="checkbox" name="capfirstcheck" > Capitalize First <br>
        <input type="checkbox" name="charcount"> Character Count <br>
        <input type="checkbox" name="newlinerem"> New Line Remove <br>
        <input type="checkbox" name="extraspacerem"> Extra Space Remove <br>
        <button type='submit'>Analyse Text</button>
    </form>
    
</body>
</html>